<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>664570763721-5o6s1r509ed5ihb3ng7q6lfmha6hibd4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664570763721-5o6s1r509ed5ihb3ng7q6lfmha6hibd4</string>
	<key>API_KEY</key>
	<string>AIzaSyBKySIyK-yyc3ivwYTKNe2I38gniwWZQTs</string>
	<key>GCM_SENDER_ID</key>
	<string>664570763721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ealpago.tmbdAPI</string>
	<key>PROJECT_ID</key>
	<string>tmbdapi-7e44e</string>
	<key>STORAGE_BUCKET</key>
	<string>tmbdapi-7e44e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:664570763721:ios:f8977b34d7d517f1cf3018</string>
</dict>
</plist>